* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #e4e2e2;
}

.model{
  width: 400px;
  height: 400px;
  position: relative;
  /* border: 1px solid black; */
  box-shadow: 4px 4px 4px rgb(137, 61, 242);

  top: 30%;
  left: 44%;

  transform: translate(-50%, -50%);
  /* border-radius: 50%; */
  
}



.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    transition: transform 0.6s;
    padding:30px;
    margin: 10px;
}

.circle:hover{
  transform: scale(1.18);
  transition: 0.3s;
}

.color-options{
  display: flex;
  justify-content: center;
}

.circle-line{

  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid white;
  transition: transform 0.6s;
  padding:10px;
  margin: 10px;
}


.pick-line{
  position: relative;
  top:70%;
  right: -20%;
}