* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ababcf;
}

.model{
  width: 400px;
  height: 400px;
  position: relative;
  border: 1px solid black;
  box-shadow: 4px 4px 4px rgb(137, 61, 242);

  top: 40%;
  left: 50%;

  transform: translate(-50%, -50%);
  border-radius: 50%;
  
}

.text{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  color:rgb(42, 7, 74);
}

